.gamertag-list-item_container {
  width: 400px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 4, 255, 0.12), 0 1px 2px rgba(0, 4, 255, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px 0;
}

.gamertag-list-item_accountId-text {
  font-weight: bold;
}
